.login-panel-wrapper {
  width: 368px;
}

.title {
  color: #000;
  font-size: 33px;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 36px;
}

.getPicCaptcha {
  width: 100%;
  background: orange;
  img {
    width: 100%;
  }
}