.sider-menu-header {
  height: 64px;
  line-height: 64px;
  padding-left: 24px;
  background: #002140;
  margin-bottom: 16px;
  color:#fff;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.main-layout {
  min-height: 100vh;
}

.main-content {
  margin: 16px 16px 0;
}

.main-header {
  background: #ffffff;
  padding: 0 24px 0 0
}