.sider-menu-header {
  height: 64px;
  line-height: 64px;
  padding-left: 24px;
  background: #002140;
  margin-bottom: 16px;
  color:#fff;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.main-sider{
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.main-layout {
  min-height: 100vh;
}

.main-content {
  margin: 16px 16px 0;
}

.main-header {
  background: #ffffff;
  padding: 0 24px 0 0;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  .main-header-wrap {
    display: flex;
    align-items: center;
    height: 64px;
    .menu-toggle-icon {
      font-size: 20px;
      padding: 22px 24px;
      transition: background-color .5s;
      &:hover {
        cursor: pointer;
        background: rgba(0,0,0,.025);
      }
    }
  }
}
